* {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 16px;
}

window {
    color: #e9f5db;
    background-color: #232828;
    border: 2px solid #84a98c;
    border-radius: 10px;
}

#input {
    color: #e9f5db;
    padding: 6px;
    border: 0;
    border-bottom: 2px solid #84a98c;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
}
#input:focus {
    box-shadow: none;
}

#inner-box {
    padding: 0 2px;
}

#entry:selected {
    border: 0;
    outline: 0;
    background-color: #48534a;
}

#text {
    padding: 6px;
}
#text:selected {
    color: #95d5b2;
}
*:placeholder {
    text: #84a98c;
}
