#! /bin/env sh

export LANG="en_US.UTF-8"
export TERM="xterm-256color"

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

export NVIM="nvim"
export EDITOR="$NVIM"
export SUDO_EDITOR="$NVIM"
export VISUAL="$NVIM"
export GIT_EDITOR="$NVIM"
export BROWSER="firefox"
export MANPAGER="less -isg"

export LOCAL_BIN="$HOME/bin"
export DEV_PATH="$HOME/dev"

export PATH="$PATH:$LOCAL_BIN"

